.git
.github
.data
.env
.env.*
.nitro
.output
.pnpm-store
.vite-dev.*.log
.vscode
.idea
dist
dist-ssr
node_modules
*.log
*.local
auto-imports.d.ts
components.d.ts
tsconfig.app.tsbuildinfo
tsconfig.node.tsbuildinfo
